[Unit]
Description=othr-web
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/www/othr.us/othr-web/
ExecStart=/home/ubuntu/www/othr.us/othr-web/bin/start.sh
StandardOutput=append:/var/log/othr-web.log
StandardError=append:/var/log/othr-web.error.log

[Install]
WantedBy=multi-user.target
