<script src="/static/scripts/sponsors/sponsor-list.js" defer></script>
<script src="/static/scripts/social-share.js" defer></script>
<script src="https://zapwebring.com/scripts/components/zap-webring.js" type="module"></script>

<nav style="display: flex; justify-content:flex-start; align-items: center;">
    <img src="/static/logo.png" alt="0" style="width: 12rem; margin-right: .8rem;" />
    <strong style="font-size: 4rem;">APP_NAME</strong>
</nav>
<p>
    APP_DESCRIPTION
</p>
<input type="text" id="url" placeholder="Enter URL" />
<button id="fetch">
    Fetch
</button>
<br />
<input type="text" id="title" placeholder="Enter title" />
<social-share></social-share>

<p>get our bookmarklet: <a
        href="javascript:(async() => {const title = document.title; const url = window.location.href; window.location.href = 'https://othr.us?title='+title+'&url='+url; })();"
        title="drag to toolbar">othr</a></p>

<h1>Support our sponsors!</h1>
<sponsor-list></sponsor-list>
<zap-webring></zap-webring>

<script>
    function getURLParams() {
        const searchParams = new URLSearchParams(window.location.search);
        return {
            url: searchParams.get('url'),
            title: searchParams.get('title')
        };
    }

    const { url, title } = getURLParams();

    if (url) {
        document.getElementById('url').value = url;
    }

    if (title) {
        document.getElementById('title').value = title;
    }

    async function getTitle(e) {
        e.preventDefault();

        const url = document.getElementById('url').value;
        const res = await fetch('/title?url=' + encodeURIComponent(url));
        const data = await res.json();
        const { title } = data;

        document.getElementById('title').value = title;
    }

    const btn = document.querySelector('button#fetch');
    btn.addEventListener('click', getTitle);
</script>